.RootContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TaskContainer {
  max-height: 70vh;
  overflow-y: auto;
}

.AddButton {
  position: absolute;
  top: 80%;
  left: 46%;
  /*margin-top: 70%;
  margin-left: 40%;*/
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: darkgrey;
}
.AddButton {
  transition: all 0.3s ease-in-out;
}
.AddButton:focus {
  outline: none;
}
.AddButton:hover {
  transform: scale(1.5);
  background-color: slategrey;
}

.NoTasksMessage {
  position: absolute;
  left: 38%;
  top: 10%;
}

.Task {
  background-color: #b9cece;
  border-radius: 6px;
  padding: 6px;
  min-width: 300px;
  margin: 8px;
  position: relative;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 2px #888888;
}

.Task:hover {
  color: darkblue;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0px 2px 2px #888888;
}

.TaskTitle {
  font-weight: 600;
}

.TaskToday {
  background-color: #f9d176;
}

.TaskOverdue {
  background-color: #ea4c4c;
}

.TaskCompleted {
  position: absolute;
  right: 50px;
  font-size: x-small;
}

.TaskCompletedCheckbox {
  position: relative;
  top: 3px;
  margin: 0 2px;
}

.TaskDetails {
  height: 20px;
  width: 50px;
  margin-right: 5px;
  font-size: xx-small;
  padding: 0;
  border: none;
}

.TaskClose {
  position: absolute;
  right: 10px;
  vertical-align: top;
  border-radius: 50%;
  top: 1px;
  right: 2px;
  border: 1px solid pink;
}

.TaskClose:hover {
  color: darkred;
  font-weight: bolder;
  border: 1px solid purple;
  width: 22.5px;
}

.ModalHeader > div:nth-child(1) {
  background-color: #007bff;
}

.ModalBody {
  padding: 10px;
}

.ThumbnailContainer {
  height: 70px;
  position: relative;
  padding: 10px;
}
.ThumbnailButton {
  height: 50px;
  width: 50px;
  left: -60px;
  position: relative;
  opacity: 0;
  border: none;
}
.ThumbnailButton:hover {
  color: red;
  background-color: pink;
  opacity: 0.7;
}

@media (max-width: 900px) {
  .NoTasksMessage {
    left: 36%;
  }
}

@media (max-width: 540px) {
  .NoTasksMessage {
    left: 32%;
  }
}

@media (max-width: 400px) {
  .NoTasksMessage {
    left: 28%;
  }
}
